@page "/manifests/details/{id:int}"

<AuthorizeView Roles="Administrator, Reader, Writer" Context="auth">
    <Authorized>
        @if (_isLoaded == false)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <MudContainer MaxWidth="MaxWidth.ExtraLarge" Class="mt-16">
                <MudItem xs="12" Class="d-flex justify-space-between">
                    <MudText Typo="Typo.h3" GutterBottom="true">Manifest details</MudText>
                    <MudButton ButtonType="ButtonType.Button" Variant="Variant.Text" Color="Color.Info" Size="Size.Small" EndIcon="@Icons.Material.Filled.Print" OnClick="(() => GeneratePDFAsync())">Print</MudButton>
                </MudItem>
                <MudGrid>
                    <MudItem xs="12">
                        <MudGrid>
                            <MudItem xs="4">
                                <MudField Label="Code">@_manifest.Code</MudField>
                            </MudItem>
                            <MudItem xs="4">
                                <MudField Label="Shipped On">@_manifest.DateShipped?.Date.ToString("d")</MudField>
                            </MudItem>
                            <MudItem xs="4">
                                <MudField Label="Scheduled Arrival">@_manifest.DateScheduledArrival?.Date.ToString("d")</MudField>
                            </MudItem>
                        </MudGrid>
                    </MudItem>
                    <MudItem xs="12" sm="6" md="4">
                        <MudPaper Elevation="2" Class="pa-4">
                            <MudText Typo="Typo.h6">Consignor(s)</MudText>
                            <MudField Label="Consignor(s)">@ConsignorsToString()</MudField>
                            <MudField Label="Address Line 1">@_manifest.ConsignorAddress.AddressLine1</MudField>
                            <MudField Label="Address Line 2">@_manifest.ConsignorAddress.AddressLine2</MudField>
                            <MudField Label="City">@_manifest.ConsignorAddress.City</MudField>
                            <MudField Label="Province/Territory">@_manifest.ConsignorAddress.Province</MudField>
                            <MudField Label="Postal Code">@_manifest.ConsignorAddress.PostalCode</MudField>
                        </MudPaper>
                    </MudItem>

                    <MudItem xs="12" sm="6" md="4">
                        <MudPaper Elevation="2" Class="pa-4">
                            <MudText Typo="Typo.h6">Consignee</MudText>
                            <MudField Label="Consignee">@_manifest.Consignee.Name</MudField>
                            <MudField Label="Address Line 1">
                                @_manifest.ConsigneeAddress.AddressLine1
                            </MudField>
                            <MudField Label="Address Line 2">
                                @_manifest.ConsigneeAddress.AddressLine2
                            </MudField>
                            <MudField Label="City">
                                @_manifest.ConsigneeAddress.City
                            </MudField>
                            <MudField Label="Province/Territory">
                                @_manifest.ConsigneeAddress.Province
                            </MudField>
                            <MudField Label="Postal Code">
                                @_manifest.ConsigneeAddress.PostalCode
                            </MudField>
                        </MudPaper>
                    </MudItem>

                    <MudItem xs="12" sm="12" md="4">
                        <MudPaper Elevation="2" Class="pa-4">
                            <MudText Typo="Typo.h6">Carrier</MudText>
                            <MudField Label="Carrier" Class="pb-1">@_manifest.Carrier.Name</MudField>
                            <EPManifest.App.Components.EsriMap searchTerm="@_manifest.ConsigneeAddress.ToString()" />
                        </MudPaper>
                    </MudItem>

                    <MudItem xs="12">
                        <MudPaper Elevation="2" Class="pa-4">
                            <MudText Typo="Typo.h6">Items</MudText>
                            <MudTable Items="@_manifest.Items" Dense="true" Hover="true" Striped="true">
                                <ColGroup>
                                    <col style="width: 5%" />
                                    <col style="width: 10%" />
                                    <col style="width: 55%" />
                                    <col style="width: 20%" />
                                    <col style="width: 10%" />
                                </ColGroup>
                                <HeaderContent>
                                    <MudTh>#</MudTh>
                                    <MudTh>State</MudTh>
                                    <MudTh>Description</MudTh>
                                    <MudTh Style="padding-left: 16px">Quantity</MudTh>
                                </HeaderContent>
                                <RowTemplate Context="item">
                                    <MudTd DataLabel="Id">@(_manifest.Items.IndexOf(item) + 1)</MudTd>
                                    <MudTd DataLabel="State">@item.State</MudTd>
                                    <MudTd DataLabel="Description">@item.Description</MudTd>
                                    <MudTd DataLabel="Quantity" Style="padding-left: 16px">@item.Quantity.ToString("###,###,###,###.##") @item.Unit</MudTd>
                                </RowTemplate>
                            </MudTable>
                        </MudPaper>
                    </MudItem>
                    <MudItem xs="12" Class="d-flex justify-space-between py-2 px-3 mt-2">
                        <MudButton ButtonType="ButtonType.Button" Variant="Variant.Filled" Color="Color.Secondary" Link="/manifests">Back</MudButton>
                        <MudButton ButtonType="ButtonType.Button" Variant="Variant.Filled" Color="Color.Primary" EndIcon="@Icons.Material.Filled.Edit" OnClick="(() => Edit())">Edit Manifest</MudButton>
                    </MudItem>
                </MudGrid>
            </MudContainer>
        }
    </Authorized>
    <NotAuthorized>
        <MudContainer MaxWidth="MaxWidth.ExtraLarge" Class="mt-16">
            <MudAlert Severity="Severity.Error"><MudText Typo="Typo.body1">You are not authorized to view this page.</MudText></MudAlert>
            <MudText Class="ml-4 mt-4" Typo="Typo.body1">If you require access to this page, please contact: <MudLink Href="mailto:env.servicedesk@yukon.ca" Typo="Typo.body1" Color="Color.Inherit"><b>env.servicedesk@yukon.ca</b></MudLink></MudText>
        </MudContainer>
    </NotAuthorized>
</AuthorizeView>